body { height: 100%; }
.hidden { display: none; }

/* Left Navigation */
#left { width: 220px; height: 100%; position: fixed; font-size: 12px;
		border-right: 1px dashed #888; background: #000; z-index: 1; overflow: auto; }

ul.nav { list-style: none; margin: 0; padding: 0 5px 0 10px; }

#notes { border: 1px solid #222; background: #000; margin-top: 1em;
	padding: 1em; }

/* Center Area */
#content { margin-left: 220px; padding: 1em; height: 100%; }

.loading { background: url(../img/load.gif) no-repeat bottom; }