html, body { margin: 0; padding: 0; height: 100%; background: #000; color: #CCC; }
a { color: #FFF; text-decoration: none; }
a img { border: 0; }

.filter { display: none; }

.hidden { display: none; }
.clear { clear: both; }
.left { float: left; }