html, body { font: 14px Verdana; margin: 0; padding: 0; height: 100%;
	background: #000; color: #CCC; }
a { color: #FFF; text-decoration: none; }
img { vertical-align: bottom; }
a img { border: 0; }
.ui-widget { font: bold 1em Verdana; }

.hidden { display: none; }
.clear { clear: both; }
.ui-icon { display: inline-block; }
.table-list { font: 10px Verdana; }
.table-list td { padding: 2px 1em; }