html, body {
	font-family: Verdana;
	margin: 0;
	padding: 0;
	height: 100%;
	background: #000;
	color: #CCC;
}
a { color: #FFF; text-decoration: none; }
a img { border: 0; }

.hidden { display: none; }
.clear { clear: both; }
.ui-icon { display: inline-block; }