Options Indexes FollowSymLinks MultiViews

php_flag output_buffering off

<IfModule mod_rewrite.c>
	RewriteEngine on

	# ignore existing files
	RewriteCond %{REQUEST_FILENAME} !-f

	# ignore existing directories
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?rw=$1 [L,QSA]
</IfModule>
