#mediainfo-table { font-size: 8pt; font-family: Verdana; }
.col_1 { background: #FF8888; }
.col_2 { background: #FFCCCC; }
.col_3 { background: #FFFFCC; }
.col_4 { background: #CCFFCC; }
.col_5 { background: #88FF88; }