#movie-controls
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	z-index: 1;
	background: #FFF;
	/*top: 0;*/
}

.movie-item
{
	position: relative;
	float: left;
	width: 185px;
	height: 275px;
	overflow: auto;
}

.movie-image
{
	position: absolute;
	width: 185px;
	height: 275px;
}

#movie-detail
{
	background-color: #FFF;
	position: relative;
	z-index: 1999;
}

#movie-detail-backdrop
{
	position: absolute;
	z-index: 2000;
}

.ui-widget-overlay
{
	display: fixed;
	background: no-repeat;
	opacity: 1;
}

#a-movie
{
	float: left;
	background: url('img/main-movies.jpg');
	width: 200px;
	height: 300px;
}
