#divMainMovies { background: url('img/main-movies.jpg'); }

.movie-item-grid
{
	position: relative;
	float: left;
	width: 185px;
	height: 275px;
	overflow: auto;
	cursor: pointer;
	background-size: 100% 100%;
}

.movie-image-grid
{
	position: absolute;
	width: 185px;
	height: 275px;
}

.movie-item-list .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	float: left;
}

#movie-detail
{
	position: relative;
	z-index: 1999;
}

.movie-buttons img { height: 32px; }
.quick-buttons img { height: 32px; }

.quick-buttons { background: #000; text-align: center; }
.movie-details
{
	overflow: hidden;
	color: #FFF;
	font-size: 20pt;
	font-weight: bold;
	text-shadow: #000 2px 2px;
}
